{%  load common_tag %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>DJango test</title>
</head>
<body>
<h1>这是模板测试页面</h1>
自定义过滤器 {{ text|mycut:"*" }}<br>
自定义过滤器 {{ text|mylower }}<br>
自定义过滤器 {{ text1|mylower }}<br>
自定义简单标签 {% current_now "%Y/%m/%d %H:%M:%S" %}<br>
自定义简单上下文标签 {% current_now1 %}
自定包含标签 {% show_list list %}
自定包含标签上下文 {% show_list1  %}
分配标签 {% current_now "%Y/%m/%d %H:%M:%S" as now %}
{{ now }}s
{{ now }}
 <script src="{% static 'myjs.js' %}"></script>
    图片：
    <img src="{% static 'img1.png' %}" alt=""/>
    <img src="{% static 'img2.png' %}" alt=""/>
</body>
</html>